.about {
    display: grid;
    grid-template-columns: 35vw 65vw;
    grid-template-rows: 35vh 30vh 50vh 20vh;
}

.intro {
    grid-column: 1;
    grid-row: 1;
    margin-left: 10vw;
    margin-top: 10vh;
}

.intro h1 {
    font-size: 7vh;
    margin-bottom: 0;
    margin-top: 0;
}

.intro h2 {
    font-size: 3vh;
}

.tra {
    grid-column: 2;
    grid-row: 1;
    position: relative;
}

.pink-line-tra {
    position: absolute;
    left: 40vw;
    background-color: #FF86C8;
    height: 60vh;
    width: 3px;
    z-index: -1;
}

.peach-line-tra {
    position: absolute;
    left: 55vw;
    background-color: #FFBF81;
    height: 65vh;
    width: 3px;
    z-index: -1;
}

.yellow-line-tra {
    position: absolute;
    left: 25vw;
    background-color: #FFDC5E;
    height: 55vh;
    width: 3px;
    z-index: -1;
}

.magenta-line-tra {
    position: absolute;
    left: 10vw;
    background-color: #FF69EB;
    height: 50vh;
    width: 3px;
    z-index: -1;
}

.bla {
    grid-column: 1;
    grid-row: 3;
    position: relative;
}

.peach-line-bla {
    position: absolute;
    left: 25vw;
    top: -15vh;
    background-color: #FFBF81;
    height: 130vh;
    width: 3px;
    z-index: -1;
}

.coral-line-bla {
    position: absolute;
    left: 10vw;
    top: -15vh;
    background-color: #FFA3A5;
    height: 130vh;
    width: 3px;
    z-index: -1;
}

.about-projects {
    grid-column: 2;
    grid-row: 3;
}

.about-projects h1 {
    font-size: 4vh;
    margin-bottom: 0;
}

.more-about-me {
    font-size: 2vh;
    margin-top: 3vh;
    margin-bottom: 4vh;
}